* {
  margin: 0px;
  padding: 0px;
  background-color: aquamarine;
}

.greeting__box {
  width: 350px;
  height: 80px;
  border-radius: 25px;
  border: 2px solid rgb(223, 210, 137);
  background-color: rgb(223, 210, 137);
  justify-content: center;
  display: flex;
  margin: 300px 0px 0px 500px;
}
.greeting__box h3 {
  font-size: 20pt;
  font-family: "Courier New", Courier, monospace;
  color: orange;
  background-color: rgb(223, 210, 137);
  padding-top: 25px;
}
.greeting__box p {
  font-size: 20pt;
  padding-top: 25px;
  background-color: rgb(223, 210, 137);
  font-family: "Courier New", Courier, monospace;
  color: orange;
}
